{
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
  },
  "rules":{
      "no-console":0
  },
  "plugins": [
    "flowtype",
    "react",
    "standard",
    "html"
  ],
  "globals": {
    "MutationObserver": true
  }
}
